@model int

<tr>
    <td>
        <input data-last-row="true" data-type="module-entry" type="text" name="0" value="" />
        @Html.ActionLink("Save", "SaveModule", null, new { @class = "save-module", dataModuleId = 0, projectId = Model })
        @Html.ActionLink("Delete", "DeleteModule",null, new { @class = "delete-module", dataModuleId = 0  })

    </td>
    @*<td>
        
    </td>*@
</tr>
